
#table1{


background-color:antiquewhite

}
.imgimg{

  width: 70px;
  height: 70px;
}
#addform{
  /* background-color:rgb(195, 204, 214); */
  /* width : 70%; */
  margin: 50px;
}
#addform input{
 
}
label{
font-weight: bold

}
.NgIfElse {
    show: boolean = true;
  }

 .visibility{
visibility: visible;
 }

 span{

  color: red;
 }
