#list{

    text-align: right;
    width: 50%;
    float: left;
}
#title{
   float: left;
}

.hdpe{

   /* background-image:url("http://fakeimg.pl/365x365/"); */
    background-color: #cccccc;
}

.img{

    width:300px;
    height: 300px;
}